/* Sizing */

.h-30{
    height:30%;
}
.h-40{
    height: 40%;
}
.h-60{
    height: 60%;
}
.h-70{
    height: 70%;
}

.h-85vh
{
    height: 85vh;
}
.h-20{
    height: 20%;
}
.w-30{
    width: 30%;
}
.w-35{
    width: 35%;
}

.w-70{
    width: 70%;
}
.w-85{
    width: 80%;
}
.w-90{
    width: 90%;
}


.spanLine{
    width: 90%;
    border-top: none;
    border-bottom: 2px solid black;
}

.imgFlip{
    transform: scaleX(-1);
}


/* Font */

.font-1vw{
    font-size: 1vw;
}
.font-2vw{
    font-size: 2vw;
}
.font-3vw{
    font-size: 3vw;
}
.font-4vw{
    font-size: 4vw;
}
.font-5vw{
    font-size: 5vw;
}


.font-125p{
    font-size: 125%;
}

.text-shadow-soft
{
    text-shadow: 0px 2px 30px #000000;
    
}
.text-shadow-medium
{
    text-shadow: 0px 2px 20px #000000;
}
.text-shadow-hard
{
    text-shadow: 0px 2px 10px #000000;
}
.text-shadow-xhard
{
    text-shadow: 0px 2px 5px #000000;
}
.text-shadow-edge
{
    text-shadow: 1px 2px 2px #000000;
}
.text-light-soft
{
    text-shadow: 0px 2px 30px #ffffff;
}
.text-light-medium
{
    text-shadow: 0px 2px 20px #ffffff;
}
.text-light-hard
{
    text-shadow: 0px 2px 10px #ffffff;
}
.text-light-xhard
{
    text-shadow: 0px 2px 5px #ffffff;
}
.text-light-edge
{
    text-shadow: 1px 2px 2px #ffffff;
}
/* Color */

.bg-color-w2{
    background-color: rgb(173, 173, 173);
}

.bg-color-green-0{
    background-color: rgb(35, 138, 15);

}

.bg-color-green-1{
    background-color:rgb(58, 201, 26);
    


}

.bg-color-green-2{
    /* background-color:rgb(84, 156, 70); */
    background-color:rgb(146, 238, 128);

}

.bg-color-green-3{
    background-color:rgb(226, 255, 221);
}

.bg-color-blue-0{
    background-color: rgb(8, 74, 136);

}

.bg-color-blue-1{
    background-color:rgb(50,131,207);
    


}

.bg-color-blue-2{
    background-color:rgb(138,191,240);

}

.bg-color-blue-3{
    background-color:rgb(224,240,255);
}

.bg-color-white-0{
    background-color:rgb(255, 255, 255);

}
.bg-color-white-1{
    background-color:rgb(245, 245, 245);

}

.bg-color-white-2{
    background-color:rgb(235, 235, 235);

}
.bg-color-white-3{
    background-color:rgb(225, 225, 225);

}
.bg-color-white-4{
    background-color:rgb(200, 200, 200);

}
.bg-color-white-5{
    background-color:rgb(150, 150, 150);

}

